<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script type="module" crossorigin src="/assets/index-DGDLmllz.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/__federation_fn_import-ofDdBDNE.js">
    <link rel="modulepreload" crossorigin href="/assets/Title.vue_vue_type_script_setup_true_lang-kwpKaj4B.js">
    <link rel="modulepreload" crossorigin href="/assets/SideBar.vue_vue_type_script_setup_true_lang-sul328hT.js">
    <link rel="modulepreload" crossorigin href="/assets/WikiEdit.vue_vue_type_script_setup_true_lang-BXYALVrq.js">
    <link rel="modulepreload" crossorigin href="/assets/Container.vue_vue_type_script_setup_true_lang-CpIxcP-x.js">
    <link rel="modulepreload" crossorigin href="/assets/Main.vue_vue_type_script_setup_true_lang-D5_yqbrv.js">
    <link rel="modulepreload" crossorigin href="/assets/WikiView.vue_vue_type_script_setup_true_lang-B9xt0AFc.js">
    <link rel="modulepreload" crossorigin href="/assets/WikiCreateView.vue_vue_type_script_setup_true_lang-B8qAUOTd.js">
    <link rel="stylesheet" crossorigin href="/assets/SideBar-CSNcOeNN.css">
  </head>
  <body>
    <div id="wiki-plugin"></div>
  </body>
</html>
