<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script type="module" crossorigin src="/assets/index-DfQUCowg.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/__federation_fn_import-ofDdBDNE.js">
    <link rel="modulepreload" crossorigin href="/assets/Container.vue_vue_type_script_setup_true_lang-CpIxcP-x.js">
    <link rel="modulepreload" crossorigin href="/assets/wikiProvider-BRKoXLEJ.js">
    <link rel="modulepreload" crossorigin href="/assets/SideBar.vue_vue_type_script_setup_true_lang-S7NgF4_h.js">
    <link rel="modulepreload" crossorigin href="/assets/WikiEdit.vue_vue_type_script_setup_true_lang-V5x7jHTk.js">
    <link rel="modulepreload" crossorigin href="/assets/Main.vue_vue_type_script_setup_true_lang-QaCIREXb.js">
    <link rel="modulepreload" crossorigin href="/assets/WikiView.vue_vue_type_script_setup_true_lang-BtpQmfwy.js">
    <link rel="modulepreload" crossorigin href="/assets/WikiCreateView.vue_vue_type_script_setup_true_lang-C6B1upjJ.js">
    <link rel="stylesheet" crossorigin href="/assets/main-BDvOVMc0.css">
  </head>
  <body>
    <div id="wiki-plugin"></div>
  </body>
</html>
